<div class="index-container">
	<h2 class="books-title">Books</h2>

	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Body</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @books.each do |a| %>
				<tr>
					<td><%= a.title %></td>
					<td><%= a.body %></td>
					<td><%= link_to "Show", "/books/#{a.id}" %></td>
					<td><%= link_to "Edit", "/books/#{a.id}/edit" %></td>
					<td>
						<%= link_to "Destroy", "/books/#{a.id}/destroy", method: :delete, "data-confirm" => "本当に削除しますか？" %>
					</td>
			    </tr>
			<% end %>
		</tbody>
	</table>

	<h3 class="new-book">New book</h3>

	<%= form_for(@book, url: '/books') do |f| %>

	<% if @book.errors.any? %>
  <div class="error_message">
        	<h2>2 errors</h2>
	    <ul>
	      <% @book.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
  </div>
	<% end %>

	    <div class="field-title">Title</div>
	    <%= f.text_field :title %>

	    <div class="area-body">Body</div>
	    <%= f.text_area :body %>

	　　<div class="submit">
	    <%= f.submit 'Create Book' %></div>

	<% end %>
</div>
